@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap');

* {
  font-family:'Baloo Chettan 2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title {
  text-align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.correct-answer{
  background-image:  linear-gradient(to right, #353534 0%, #3dc000 50%, #353534 );
}

.wrong-answer{
  background-image:  linear-gradient(to right, #353534 0%, #c02d00 50%, #353534 );
}

body {
  background-image:url(/public/backGround.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;

}


#quiz-container{
  width:1000px;
  height:600px;
  background-color: #353534;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#next-question-button{
  background-color:#fcd83c;
  color:black;
  width: 100px;
  height:30px;
  border: none;
  border-radius:10px;
  position:absolute;
  bottom:50px;
}
#last-question-button{
  background-color:#fcd83c;
  color:black;
  width: 100px;
  height:30px;
  border: none;
  border-radius:10px;
  position:absolute;
  bottom:50px;
}

#last-question-button:hover, #next-question-button:hover{
  background-color:#ffdf50;
  cursor: pointer;
}

.question-title{
  color:beige;
  margin-bottom: 50px;
  font-size: 1.5em;
}

.answers-default{
  color:beige;
  list-style:none;
  border: 3px solid transparent;
	  border-image: linear-gradient(to right, #353534 0%, #ffffff 50%, #353534 );
	  border-image-slice: 1;
  height:30px;
  padding-top:10px;
  width: 800px;
  transition: all 1s;
  cursor: pointer;
}
.answers-default:hover{
  color:black;
  background-image:  linear-gradient(to right, #353534 0%, #fcd83c 50%, #353534 );
}
.answers-default:first-child, .answers-default:nth-child(2), .answers-default:nth-child(3) {
  border-bottom: none;
}
.answers-default:last-child {
  border-bottom: 3px solid transparent;
	  border-image: linear-gradient(to right, #353534 0%, #ffffff 50%, #353534 );
	  border-image-slice: 1;
}
.title{
  color:beige;
}

#title-span{
  font-weight: bold;
}

#corrects{
  color:beige;
}

.final-score-title{
  color:beige;
}