/************************* Mobile First *************************
* we are using mobile first approach
* so we will define the styles for mobile first
* and then we will add media queries for desktop view
**************************************************************/

/************************* Variables *************************/
$correct: #0b6e4f;
$primary: #2b4162;
$secondary: #fa9f42;
$white: #e0e0e2;
$wrong: #721817;

/************************* Global *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $white;
  font-size: 1rem;
  background-color: $correct;
}

.centered {
  position: fixed;
  width: 95%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  background-color: $primary;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1rem;
  border: 1px solid $white;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

h1,
.question {
  font-size: 2rem;
  margin: 1rem;
}

.correct {
  border: 2px solid green !important;
}

.wrong {
  border: 2px solid $wrong;
}

/************************* Desktop View *************************/
.answersList {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  .answerList_item {
    padding: 1rem;
    border: 1px solid rgb(28, 28, 28);
    border: 2px solid $correct;
  }
}

.wrong {
  border: 2px solid $wrong;
}

/************************* mobile View *************************/
ul,
.answerList {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  li,
  .answerList__item {
    padding: 0.5rem;
    border: 1px solid $secondary;
    border-radius: 5px;
    text-align: left;
  }
  li:hover,
  .answerList__item:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  border: 0.1rem solid $white;
  border-radius: 0.5rem;
  background-color: $primary;
  color: $white;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

/************************* Desktop min@768px *************************/
