.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 80%;
  min-height: 40%;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  overflow: hidden;
  justify-content: center;
}

li {
  display: inline-block;
  width: 30%;
  margin-top: 5%;
  margin-right: 5px;
  text-align: left;
  padding: 1% 0% 1% 5%;
  background-color: grey;
  color: white;
  border-radius: 25px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: large;
}

li.selected {
  background-color: white;
  color: black;
  border: solid;
  border-color: brown;
  font-size: 20px;
  transition: all 0.3s;
}

h1 {
  margin-top: 12%;
  color: white;
  background-color: rgb(61, 4, 4);
  border-radius: 25px;
  padding: 1% 0 1% 0;
}

button {
  border-radius: 20px;
  background-color: #aa2c06;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 12px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 35px 5px 5px 5px;
}

button:hover {
  width: 85px;
}
