/************************* Variables *************************/
// all the global variables are defined here
$correct: green;
$green-shadow: rgb(156, 245, 156);
$wrong: red;
$red-shadow: rgb(253, 154, 154);
/************************* Variables *************************/

/************************* Global *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  position: fixed;
  width: 80%;
  max-width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}
h1 {
  font-size: 2rem;
  margin: 1rem;
}

.correct {
  border: 2px solid $correct;
  box-shadow: 0 0 2px 1px $green-shadow;
}

.wrong {
  border: 2px solid $wrong;
  box-shadow: 0 0 2px 1px $red-shadow;
}

/************************* Desktop View *************************/
ul {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  // grid with max 2 columns and min 1 column with equal width
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  li {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    input[type='radio'] {
      opacity: 0;
      width: 0;
    }
  }
  li:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

#evaluation {
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
}

#totalScore {
  color: blue;
}

/************************* Mobile max@768px *************************/
@media (max-width: 768px) {
  .centered {
    width: 90%;
  }
  ul {
    li {
      padding: 0.5rem;
    }
  }
}
