.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

.outer-container {
  margin: 50px auto;
}

.inner-container {
  min-width: 920px;
  height: 620px;
  width: 100%;
  position: relative;
}

.card {
  position: relative;
  margin: 0 auto;
  width: 900px;
  border-radius: 5px;
  padding: 8px 0px;
  height: 518px;
  box-sizing: border-box;
  transition: .3s ease;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.35);
}
.active {
  display: block !important;
  margin: 0 auto;
  opacity: 1;
  transition: ease-in-out 1s;
}
.card1 {
  border-radius: 5px 5px 5px 0;
  padding: 0;
  box-shadow: none;
}
.card2,.card4,.card6,.card8,.card10 {
  background-color: #007577;
  right: 10px;
}
.card1,.card3,.card5,.card7,.card9 {
  background-color: #00898b;
  right:10px;
}
.content {
  position: absolute;
  left:25%;
  top:25%;
}
.progress-container {
  background-color: #0b898b;
  height: 8px;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
#step {
  background-color: #004e4f;
  height: 8px;
  width: 10%;
  border-radius: 0 0 0 5px;
}
button {
  width: 120px;
  height: 120px;
  border: none;
  background-color: #004e4f;
  color: white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: transform .3s; /* Animation */
}
button:hover {
  transform: scale(1.2);
  background-color: #0b898b;
}