@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
:root {
  --correct: rgb(92, 253, 92);
  --fault: rgb(255, 59, 59);
  --purple: #26003d;
  --grey: #9999;
  --white: #eee;
  --yellow: #f1ff5c;
  --orange: #ffa260;
}

body {
  background-color: var(--purple);
}
.centered {
  display: flex;
  margin: 5% auto;
  padding: 40px;
  flex-direction: column;
  width: 75%;
  height: 560px;
  max-height: 120vh;

  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--white);
  position: relative;
  box-shadow: 0 0.1em 1em -0.1em var(--white);
  position: relative;
}

.content-question h1 {
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
}
.list-answers {
  list-style: none;
}
.answer-options {
  padding: 12px;
  border: 2px solid;
  margin: 20px;
  color: var(--white);
  background: none;
  border: 2px solid;
  font-size: 1.2em;
  border-radius: 5px;
  box-sizing: border-box;
}
.answer-options:hover {
  border-color: var(--yellow);
  color: var(--white);
  box-shadow: 0 0.5em 0.5em -0.4em var(--yellow);
  transform: translateY(-0.25em);
  cursor: pointer;
}
.button-element,
#try-again {
  padding: 0.5em 2em;
  margin: auto;
  color: var(--orange);
  background: none;
  border: 2px solid;
  font-size: 1em;
  border-radius: 5px;
}
.button-element:hover {
  border-color: var(--white);
  color: var(--yellow);
  box-shadow: 0 0.5em 0.5em -0.4em var(--yellow);
  transform: translateY(-0.25em);
  cursor: pointer;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}
.correctAnswer {
  border-color: var(--correct);
  color: var(--correct);
}
.correctAnswer:hover {
  border-color: var(--correct);
  color: var(--correct);
  box-shadow: 0 0.5em 0.5em -0.4em var(--correct);
  transform: translateY(-0.25em);
  cursor: pointer;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.wrongAnswer {
  border-color: var(--fault);
  color: var(--fault);
  box-shadow: 0 0.5em 0.5em -0.4em var(--fault);
  transform: translateY(-0.25em);
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.wrongAnswer:hover {
  border-color: var(--fault);
  box-shadow: 0 0.5em 0.5em -0.4em var(--fault);
  color: var(--fault);
}

.score {
  position: absolute;
  left: 2%;
  top: 2%;
  font-size: 1rem;
  font-weight: bolder;
  color: var(--white);
}
.timer {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--white);
}
.disabled {
  color: var(--grey);
}
.disabled:hover {
  color: var(--grey);
  box-shadow: none;
  transform: none;
  border-color: var(--grey);
}
.link a {
  color: var(--yellow);
  text-decoration: none;
  position: absolute;
  bottom: 3%;
  left: 46%;
}
.question {
  color: white;
  position: absolute;
  top: 2%;
}
