.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 80%;
  min-height: 40%;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: calc(50% - 3rem - 3px);
  margin-top: 5rem;
  margin-right: 1rem;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  background-color: grey;
  color: white;
  border-radius: 25px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

li.selected {
  background-color: white;
  color: black;
  border: solid;
  border-color: brown;
  font-size: 25px;
  transition: all 0.3s;
}

h1 {
  margin-top: 12rem;
  color: white;
  background-color: rgb(61, 4, 4);
  border-radius: 25px;
  padding: 1rem 0 1rem 0;
}

button {
  border-radius: 20px;
  background-color: #aa2c06;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 12px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 35px 5px 5px 5px;
}

button:hover {
  width: 85px;
}


.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}
.selected{
  border-style: solid;
}

#user-progress {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 200px;
}
#progress-bar {
  width: 150px;
  height: 20px;
  border: 2px solid rgb(11, 223, 36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}
#progress-bar-inside {
  height: 100%;
  background-color: rgb(11, 223, 36);
  width: 0%;
}
.fa-ul {
  font-size: 30px;
}
